body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#valinta ul {
    margin: 0;
    padding: 0;
    list-style: none;

    border: 1px solid #000;
    min-height: 100%;
}

#valinta li[draggable=true] {
    cursor: grab;
}