*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-family: "Roboto Slab";
}

body {
    margin: 0; padding:0;
    background: #bddeff;
}

div.flash {
    text-align: center;
    clear: both;
    margin: 0.8em;
}

div.flash .glyph {
    font-size: 150%;
}

a.Kilpailu {
    font-weight: bold;
}

ul.kilpailut > li {
    margin-top:0.3em;
    margin-bottom:0.3em;
}

li form[action="/luo/Kilpailu"] {
    margin-top:1em;
}

input[type=submit],
input[type=reset]  {
    cursor: pointer;
}

form.wtform {
    position: relative;
}

.wtform div {
    margin-top:0.2em;
    line-height: 2em;
}
.wtform div > label {
    display:block;
}

.wtform ul {
    list-style: none;
}

.wtform input[type="submit"],
.wtform input[type="reset"] {
    margin: 1em;
}

.wtform > div {
    display: flex;
    justify-content: space-between;
    
}
.wtform input[type=submit],
.wtform input[type=reset] {
    border: 1px solid #207bbd;
    color: #207bbd;
    background: #fff;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-weight: bold;
    border-radius: 4px;
}

.wtform .toiminnot {
    background: #efefef;
    justify-content: flex-end;
    border-top: 1px solid #cecece;
}

.wtform .toiminnot input[name="tallenna"] {
    order:0;
}

.wtform .toiminnot input[type=reset] {
    border-color: #cecece;
}

.wtform .toiminnot input[name="poista"] {
    order:10;
    border-color:#f00;
}

ul ~ .error,
input ~ .error,
select ~ .error {
    position: absolute;
    background: #fff;
    border: 2px solid red;
    padding:0.2em;
    left: 100%;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(223, 223, 223, 0.45);
    align-items: center;
    align-content: center;
    display: flex;
    z-index: 1000;
}

#overlay #throbberi {
    font-size:250%;
}

#overlay > * {
    margin: auto;
}

.content {
    display: flex;
}

section fieldset {
    min-width: 680px;
}

.content > * {
    margin: auto;
}

#osiot .section {
    display:none;
}

.content fieldset {
    background: #fff;
    border:0 none;
}

#navi-kilpailu {
    font-weight: bold;
}
#navi-kilpailu:hover {
    text-shadow: #333 0px 0px 1px;
}

#navi-kilpailu:before {
    content:"<";
    margin-right: 0.3em;
}

#navi-logout input {
    background: transparent;
    border: 0 none;
    color: inherit;
}

nav {
    background: #2076b5;
    color: #dee6e6;
    visibility: hidden;
}

.kirjautunut nav {
    visibility: visible;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover,
nav input:hover {
    color:#fff;
}

nav ul {
    margin: 0;
    padding: 0.2em;
    display: flex;
    width: 100%;
    flex-direction: row;
}

nav li {
    padding-left: 1em;

    display:inline-block;
    margin: auto;
}

#navi-spacer {
    /* take up the rest of the remaining space */
    flex: 1;
}

.ops {
    float:right;
    font-size: small;
}

/* Tyyli elementeille jotka ovat juuri muokattuja. */
a[href].aktiivinen {
    animation: välähdä 0.8s ease-out 1;
}

@keyframes välähdä {
    0% {
        outline: #fff 1px solid;
        background: #fff;
    }
    100% {
        background: inherit;
        outline: transparent 6em solid;
    }
}

/* Joukkueen jäsenten "kuvat" */
span.osallistuja {
    padding-left: 1em;
}
span.osallistuja .naamake {
    margin-left: -1em;
    font-family: "Twemoji Mozilla", "Apple Color Emoji", "Noto Color Emoji";
}

.content fieldset h3 {
    border-bottom: 1px solid #bddeff;
    display: inline-block;
    clear: both;
    background: #f9fcff;
    /* Jep, sen ylivuoto on haluttu */
    margin-left: -1em;
    padding-left: 1em;
    margin-right: -1em;
    padding-right: 1em;

}
.kilpailut h4, 
.kilpailut h5 {
    margin: 0;
}

.leimatut .removed {
    color: red;
}
.leimatut .removed::before{
    content:"❌ ";
}
