{% extends "base.html.j2" %}

{% macro feed_subscride(feed) -%}
    <div class="entity feed">
        <button class="add-feed {%if feed.user_subscribed(current_user) %}subscribed{%endif%}" title="{{_("Subscride to feed \"%(feed)s\"", feed=feed.title)|e}}" name="url" value="{{feed.url|e}}">
            <span class="thumb" title="{{ feed.title|e }}">
                {{feed|asset_img}}
            </span>
            <div class="title">{{feed.title|e}}</div>
            {%if feed.user_subscribed(current_user) %}
                <span class="bubble-tag btn btn-danger unsubscribe">-</span>
            {% else %}
                <span class="bubble-tag btn btn-primary subscribe">+</span>
            {% endif %}
        </button>
    </div>
{%- endmacro %}

{% block content %}
    <section class="container bg-light">
        <div class="feeds container ">
            <form method="POST" action="{{url_for('feeds.page_add_feed')}}" class="row justify-content-center">
            {{ form.hidden_tag() }}
            {% for feed in feeds.values() %}
                {{feed_subscride(feed)}}
            {% endfor %}
            </form>
        </div>
    </section>

    {% if discover %}
    <section class="bg-white box-shadow container-fluid">
        <a name="discover"></a>
        <form method="POST" action="{{url_for('feeds.page_add_feed')}}" class="row justify-content-center">
            {{ form.hidden_tag() }}
            {% for category in discover %}
            <fieldset class="feeds container">
                <legend>{{category|e}}</legend>
                {% for feed in discover[category] %}
                    {{feed_subscride(feed)}}
                {% endfor %}
            </fieldset>
            {% endfor %}
        </form>
    </section>
    {% endif %}
{% endblock content %}

{% block footer %}
    {{super()}}
    <div><a href="https://clearbit.com/docs#logo-api">{{_("Uses Clearbit logo api")}}</a></div>
    <div><a href="https://github.com/GNOME/adwaita-icon-theme">{{_("RSS Logo from Adawait icon theme")}}</a></div>
{% endblock footer %}