<img src="{{src}}" {# width={{width}} height={{height}} #} onerror="this.src='{{url_for('static', filename='application-rss+xml-symbolic.svg')|safe}}'" {%if snippet %}style="background: url({{snippet|safe}}) no-repeat center center; background-size:{{width}}px {{height}}px;" {% endif %} />
