<img src="{{src}}" data-large="{{large}}" onerror="this.src='{{url_for('static', filename='application-rss+xml-symbolic.svg')|safe}}'" {%if snippet %}style="background: url({{snippet|safe}}) no-repeat center center; background-size:{{(width * aspect)|int}}px {{height}}px;" {% endif %} />
