<!DOCTYPE html>
<html lang="{{get_locale()}}">
<head>
    <meta charset="{{config['CHARSET']}}" />
    <title>TIEA2080 - VT6 - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-3.3.1.js') }}">\x3C/script>')</script>
</head>
<body class="kirjautunut">
    <header>
        <nav><ul>
        {% block nav %}
            <li><a class="navbar-brand" href="{{url_for('feeds.page_reader')}}">{{ _("RSS-reader") }}</a></li>
            <li><form action="{{url_for("feeds.page_add_feed")}}" method="GET">
                <input name="url" type="text" required="" placeholder="{{ _('Discover Feed') }}" />
                <noscript><input type="submit" value="{{ _("Search") }}" /></noscript>
            </form></li>
            {% if current_user %}
                <li><form action="{{url_for('user.page_logout')}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button>{{_("Log Out")}}</button>
                </form></li>
            {% else %}
                <li><form target="{{login_url()}}" action="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button>{{_("Log In")}}</button>
                </form></li>
            {% endif %}
            
        {% endblock nav%}
        </ul></nav>
    </header>
    {% block viesti %}
    {% for message in get_flashed_messages() %}
        <div class="flash">
            <span class="glyph">❗️</span> {{ message }}
        </div>
    {% endfor %}
    {% endblock viesti %}
    <div class="content">
        {% block content %}
        {% endblock content%}
    </div>

    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>
</html>
