{% extends "base.html.j2" %}
{% import "entitys.html.j2" as entity with context  %}

{% block content %}
    <section class="container container-fluid">
        <div class="feeds container justify-content-center">
            <form action="{{url_for('feeds.page_reader')}}" method="GET" class="row justify-content-center row">
                <div class="entity feed feed-stub">
                    <a class="add-feed" href="{{url_for('feeds.page_add_feed')}}">
                        <span class="thumb">
                            <img src="{{url_for('static', filename='application-rss+xml-symbolic.svg')}}" />
                        </span>
                        <div class="title">{{ _("Discover new feeds") }}</div>
                        <span class="bubble-tag btn btn-primary subscribe">+</span>
                    </a>
                </div>

                {% for feed in feeds %}
                <div class="entity feed">
                    <button class="subscribed" name="feed" value="{{feed.key.id()|e}}">
                        <span class="thumb" title="{{ current_user.has_subscribed(feed).title|e }}">
                            {{feed|asset_img}}
                        </span>
                        <div class="title">{{current_user.has_subscribed(feed).title|e}}</div>
                    </button>
                </div>
                {% endfor %}
            </form>
        </div>
    </section>
    <section class="articles container-fluid bg-white box-shadow">
        <div class="d-flex container justify-content-center">

            <ul class="flex-wrap thumbs">
                {# for loop needs to be conjucated to gether with <li>.
                   Whitespace breaks page layout by introducing empty text node.
                #}
                {% for article in articles %}<li class="zigzag entity article">
                    {{entity.article(article)}}
                </li>{% endfor %}
            </ul>

        </div>
    </section>
    {# Include article modal #}
    {{ entity.article_modal() }}
{% endblock content %}

{% block footer %}
    {{super()}}
    <div><a href="https://clearbit.com/docs#logo-api">{{_("Uses Clearbit logo api")}}</a></div>
    <div><a href="https://github.com/GNOME/adwaita-icon-theme">{{_("RSS Logo from Adawait icon theme")}}</a></div>
{% endblock footer %}