{% extends "base.html.j2" %}
{% import "entitys.html.j2" as entity with context  %}

{% block content %}
    <section class="container container-fluid">
        <div class="feeds container justify-content-center">
            <form action="{{url_for('feeds.page_reader')}}" method="GET" class="row justify-content-center row">
                <div class="entity feed feed-stub">
                    <a class="add-feed" href="{{url_for('feeds.page_add_feed')}}">
                        <span class="thumb">
                            <img src="{{url_for('static', filename='application-rss+xml-symbolic.svg')}}" />
                        </span>
                        <div class="title">{{ _("Discover new feeds") }}</div>
                        <span class="bubble-tag btn btn-primary subscribe">+</span>
                    </a>
                </div>

                {% for feed in feeds %}
                <div class="entity feed">
                    <button class="subscribed" name="feed" value="{{feed.key.id()|e}}">
                        <span class="thumb" title="{{ current_user.has_subscribed(feed).title|e }}">
                            {{feed|asset_img}}
                        </span>
                        <div class="title">{{current_user.has_subscribed(feed).title|e}}</div>
                    </button>
                </div>
                {% endfor %}
            </form>
        </div>
    </section>
    <section class="articles container-fluid bg-white box-shadow">
        <div class="autoload container justify-content-center">

            <ul id="articles-list" class="flex-wrap thumbs">
                {# for loop needs to be conjucated to gether with <li>.
                   Whitespace breaks page layout by introducing empty text node.
                #}
                {% for article in articles %}<li class="zigzag entity article">
                    {{entity.article(article)}}
                </li>{% endfor %}
            </ul>

<nav class="container d-block justify-content-center" aria-label="{{_('Paging')}}">
  <ul class="pagination">
    {%if prev_page %}
        <li class="page-item"><a class="page-link prev" href="{{prev_page}}">{{_("Previous")}}</a></li>
    {% endif %}
    {%if next_page %}
        <li class="page-item"><a class="page-link next" href="{{next_page}}">{{_("Next")}}</a></li>
    {% endif %}
  </ul>
</nav>

        </div>


    {# Include article modal #}
    {{ entity.article_modal() }}
    </section>

{% endblock content %}

{% block footer %}
    {{super()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js" integrity="sha256-0/MF5x1AoU8a7eF3Y3gaBhdfZh6JMbOkrJ1xna3cAek=" crossorigin="anonymous"></script>
    <div><a href="https://clearbit.com/docs#logo-api">{{_("Uses Clearbit logo api")}}</a></div>
    <div><a href="https://github.com/GNOME/adwaita-icon-theme">{{_("RSS Logo from Adawait icon theme")}}</a></div>
<script>
$(function() {
    $(".autoload").jscroll({
        nextSelector: '.pagination a.page-link.next',
        contentSelector: '.autoload > *',
        loadingHtml: '<div class="spinner-border text-info" role="status"><span class="sr-only">{{_("Loading")}}</span></div>'
    });
});
</script>

{% endblock footer %}