{% extends "base.html.j2" %}

{% block content %}
<ul class="container">
{% for user in users %}
    <li class="row">
        <div class="col-5 entity">
            <div class="profile">
                <span class="thumb rounded-circle">
                    <img src="{% if user.email %}{{user.email|gravatar}}{% endif %}" style="width:7rem; height:7rem;">
                </span>
            </div>
        </div>

        <div class="col-7 flex-grow">
            <div class="row">
                <h5 class="col">{{user.email|e or user.key.id()|e}}</h5>
                <form class="float-right col form-inline" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button class="btn btn-warning"  name="remove"  value="{{user.key.urlsafe()}}">{{_("Remove")}}</button>
                </form>
            </div>
            <div class="row">
                <div class="col">{{_("<val>%(nr)d</val> Subscriptions", nr=user.Subscriptions()|count)}}</div>
                <div class="col">{{_("<val>%(nr)d</val> Saved", nr=user.Saved()|count)}}</div>
            </div>
            <div class="row">
                <div class="col">{{user.nickname|e}}</div>
            </div>
        </div>
    </li>

{% endfor %}</ul>
{% endblock content %}