footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05), 0 -.25rem .75rem rgba(0, 0, 0, .05);
}

.search-box * {
    background-color: var(--light) !important;
}

.search-box:focus-within * {
    background-color: #fff !important;
}

.search-box .input-group-prepend {
    border-right: transparent none;
}

.search-box .form-control {
    border-left: transparent none !important;
    border-right: transparent none !important;
}

.search-box .input-group-append {
    border-right: transparent none;
}

.search-box .material-icons {
    font-size: inherit;
    line-height: inherit;
}

.search-box input.search {
    text-align: center;
    background-color: var(--light);
    position: relative;
    padding-left: 0;
    padding-right: 0;

}

.search-box input.search:focus {
    text-align: start;
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.search-box:focus-within input::placeholder {
    color:transparent;
    opacity: 0;
}

form#nav-profile *:active .material-icons {
    color:var(--primary);
}

#_notifications {
    /* Hide notifications placeholder. Popover reads this element */
    display: none;
}

.popover div.alert {
    margin:0;
    padding:0.25rem 1rem;
} 

.nav-icons .input-text {
    display: none;
}

.nav-icons button,
.nav-icons a.nav-link {
    color: var(--black);
}

.nav-icons button:focus,
.nav-icons a.nav-link:focus {
    color: var(--gray);
}

.nav-icons button {
    border: 0 none;
    padding: 0;
    background-color: inherit;
}

#navbar,
header {
    transition: all .15s linear;
}

.shrink #navbar {
    padding-top:0;
    padding-bottom: 0;
}

header.shrink {
    /* Move removed padding into margin, to keep page height constant */
    margin-bottom:1rem;
}
.navbar-brand .brand {
    transition: all .15s linear;
}

.shrink .navbar-brand .brand {
    opacity:0;
}

.navbar-brand .brand,
.shrink .navbar-brand:hover .brand {
    opacity:1;
}

header + .content {
    border-top: #fff 1px solid;
}

.messages > .alert:first-child {
    margin-top:1rem;
}
.messages > .alert:last-child {
    margin-top:1rem;
}

.content .feeds,
.content .user-info,
.content .user-actions > * {
    margin-top:3rem;
    margin-bottom:3rem;
}

.content .feeds + .feed-search {
    margin-top:-2rem;
    margin-bottom:3rem;
}

.entity > * {
    align-items: center;
    align-self: center;
    background: 0 0;
    border: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    position: relative;
}
.entity > a
.entity > button {
    cursor: pointer;
}
.entity .thumb img {
    background-color: #fff;
}

.thumb img.loading {
    background-color: var(--gray);
}

.entity .title {
    color: #262626;
    display: block;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entity .bubble-tag {
    transition: all .15s linear;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 0;
    z-index: 5;
    border-radius: 50% !important;
    padding: 0 0 !important; 
    line-height: 2rem !important;
}

.entity .bubble-tag.subscribe,
.entity .bubble-tag.unsubscribe {
    bottom: 0;
}

.entity.feed .title {
    max-width: 96px;
    top: 96px;
}

.entity.feed .thumb {
    width: 96px;
    height: 96px;
}

.feeds .feed.feed-stub + .feed {
    margin-left:3rem !important;
}

.feeds .feed {
    display:inline-block;
    margin: 0.75rem;
}

.entity .thumb {
    transition: all .15s linear;
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.feeds .thumb {
    box-shadow: 0px 0px 0px 0rem var(--gray);
}

.feeds .thumb:hover {
    transition: all .15s linear;
    /* margin: 4px 4px;
    width: 88px;
    height: 88px; */
    z-index:5;
    box-shadow: 0px 0px 0px 1rem var(--gray);
}

.feeds .thumb:hover ~ .bubble-tag {
    opacity: 0;
}

.add-feed .thumb::before {
    transition: all .15s linear;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    z-index: 100;
    content:"+";
    color:#fff;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 88px;
    font-size:96px;

    padding-top: 0.75rem;
}


.add-feed.subscribed .thumb::before {
    content:"";
}

.add-feed.subscribed .thumb:hover::before {
    background-color: var(--danger);
    content:"-" !important;
}

.add-feed .thumb:hover::before {
    padding-top: 0;
    opacity: 1;
}

.feed .thumb::after {
    border: 2px solid rgba(255,255,255,0.9);

    border-radius: 50%;
    box-shadow: inset 0px 0.1rem 0.05rem 0px rgba(0,0,0,0.2);

    content: '';
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.thumb img {
    transition: all .15s linear;
    min-height: 100%;
    min-width: 100%;
    /* Fails when image is vertical. But good enough for now. */
    height: 100%;
}

.entity a .thumb:hover,
.entity button .thumb:hover {
    transform: scale(0.9);
}


.articles.container-fluid {
    padding-top: 2rem;
    padding-bottom: calc(100px + 2rem);
}

.articles .entity {
    display: inline-block;
}

.articles .thumb {
    width: 200px;
    height: 200px;
    background-color: var(--white);
}

.articles .thumb .img {
    min-width: 200px;
    min-height: 200px;
}

.articles .entity .title {
    display: none;
}

.thumbs {
    /*text-align: center;
    width: 84.5rem;*/
    padding:0;
}

.thumbs li {
    list-style: none; 
    padding:0;
}

.thumbs .zigzag {
    margin-bottom: 2rem;
    position: relative;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .thumbs .zigzag:nth-child(2n) {
        top: calc(100px + 1rem);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .thumbs .zigzag:nth-child(3n-1) {
        top: calc(100px + 1rem);
    }
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .thumbs .zigzag:nth-child(2n+2) {
        top: calc(100px + 1rem);
    }
}

@media (min-width: 1200px) {
    .thumbs .zigzag:nth-child(5n-1),
    .thumbs .zigzag:nth-child(5n-3) {
        top: calc(100px + 1rem);
    }
}

@media (min-width: 576px) {
    .thumbs {
        margin-left: calc(10vh);
    }
}

.articles .title {
    border-radius: 50%;
    white-space: normal;
    overflow: hidden;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity:0;
    transition: 0.5s all;
    background-color:var(--info);
    color:var(--white);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: -0.25rem;
}

.articles .entity:hover .title {
    opacity: 0.9;
    padding-bottom: 0.75rem;
    background-color:var(--info) !important;
}
.articles .entity .no-asset .title {
    opacity: 1;
    padding-bottom: 0.75rem;
    background-color:var(--dark);
}

/* Modal stuff */
.modal .modal-content {
    color:var(--white);
}
.modal {
    background: rgba(0,0,0,0.9);
}

.modal .not-modal-dialog {
    position: relative;
    width: auto;

    border-left: 46px none transparent;
    border-right: 46px none transparent;
}

/* Modal Header @{ */
.modal header {
    padding: 0;
}

.modal .close {
    color:var(--light);
    text-shadow: #000;
}
.modal .close:hover,
.modal .close:focus {
    color:var(--white);
    text-shadow: #000;
}

#article-modal .not-modal-dialog {
    height: 100%;
    bottom: 0;
    padding-top: 1rem;
}

.modal header .entity .thumb {
    width: 32px;
    height: 32px;
}
.modal header .entity .title {
    display: none;
}
.modal #modal-title-title {
    margin-left:0.75rem;
    margin-right: 0.75rem;
}

.modal #modal-title-published {
    color: var(--light);
    font-weight: lighter;
}
/* @} end of Modal Header */

.modal .modal-content {
    max-height: calc(100vh);
}

.modal .modal-body {
    padding:0;
}

/* Carousel @{ */
.modal .carousel {
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    /* height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; */
}

.modal .carousel-indicators {
    justify-content: space-between;
    margin: 0 0;
    position: relative;
}
.modal .carousel-indicators li.col {
    flex:auto;
    width:inherit;
    flex-grow:1;
    padding: 0;
    margin-right: 3px;
    margin-left: 0;
}

.modal .carousel-item {
    height: calc(100vh - 5rem);
    overflow: hidden;
}

.modal .carousel-item .article-img {
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    margin-left: 50%;
    transform: translateX(-50%);
}

.modal .carousel-caption {
    bottom: 0;
    /* text-shadow: 0px 1px 2px black; */
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    max-height: 100%;
    overflow: hidden;
    padding-top: 1rem;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1rem;
    text-overflow: ellipsis;
    text-align:left;
}
.modal .carousel-control-next,
.modal .carousel-control-prev {
    width:48px;
}
.modal .carousel-control-prev {
    margin-left:-48px;
}
.modal .carousel-control-next {
    margin-right:-48px;
}

.carousel .bottom-shadow {
    background: linear-gradient(to top,rgba(0,0,0,.35), transparent);
    bottom: 0;
    height: 150px;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.carousel .article-save {
    position: absolute;
    bottom:0;
    right:0;
}

.carousel .carousel-caption iframe {
    border:0;
    width: 100%;
    height: 100%;
}

/* @} End of Carousel */

.input-group-text.material-icons {
    font-size: 1rem;
    line-height: 1.5;
}

.user-info val {
    font-weight: 600;
}

.user-info .nav {
    margin-top:1rem;
}

.user-info .nav-link {
    color:var(--gray);
    margin-top:-1px;
    border-top: 1px none transparent;
}

.user-info .nav-link:active,
.user-info .nav-link:target,
.user-info .nav-link.active {
    color: #000;
    border-top: 1px solid #000;
}

.profile .thumb > img {
    width: 150px;
    height: 150px;
}

.sortable .entity {
    position: relative;
    padding-bottom: 1rem;
}

#subscriptions .feed .thumb {
    width:48px;
    height:48px;
}

.material-icons.h1 {
    font-size:2.5rem;
}

.sortable.articles li {
    float:left;
}

.jscroll-inner .pagination {
    display:none;
}

