header {
    border-bottom:1px solid #ced4da;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05), 0 -.25rem .75rem rgba(0, 0, 0, .05);
}

.search-box * {
    background-color: var(--light) !important;
}

.search-box:focus-within * {
    background-color: #fff !important;
}

.search-box .input-group-prepend {
    border-right: transparent none;
}

.search-box .form-control {
    border-left: transparent none !important;
    border-right: transparent none !important;
}

.search-box .input-group-append {
    border-right: transparent none;
}

.search-box .material-icons {
    font-size: inherit;
    line-height: inherit;
}

.search-box input.search {
    text-align: center;
    background-color: var(--light);
    position: relative;
    padding-left: 0;
    padding-right: 0;

}

.search-box input.search:focus {
    text-align: start;
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.search-box:focus-within input::placeholder {
    color:transparent;
    opacity: 0;
}

form#nav-profile *:active .material-icons {
    color:var(--primary);
}

#_notifications {
    /* Hide notifications placeholder. Popover reads this element */
    display: none;
}

.popover div.alert {
    margin:0;
    padding:0.25rem 1rem;
} 

.nav-icons .input-text {
    display: none;
}

.nav-icons button,
.nav-icons a.nav-link {
    color: var(--black);
}

.nav-icons button:focus,
.nav-icons a.nav-link:focus {
    color: var(--gray);
}



.nav-icons button {
    border: 0 none;
    padding: 0;
    background-color: inherit;
}


header + .content {
    border-top: #fff 1px solid;
}

.messages > .alert:first-child {
    margin-top:1rem;
}
.messages > .alert:last-child {
    margin-top:1rem;
}

.content .feeds {
    margin-top:3rem;
    margin-bottom:3rem;
}

.entity > * {
    align-items: center;
    align-self: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    position: relative;
}

.entity .thumb img {
    background-color: #fff;
}

.entity .title {
    color: #262626;
    display: block;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entity .bubble-tag {
    transition: all .15s linear;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 50% !important;
    padding: 0 0 !important; 
    line-height: 2rem !important;
}

.entity.feed .title {
    max-width: 96px;
    top: 96px;
}

.entity.feed .thumb {
    width: 96px;
    height: 96px;
}

.feed .thumb img {
    min-width: 96px;
    min-height: 96px;
}


.feeds .feed.feed-stub + .feed {
    margin-left:3rem !important;
}

.feeds .feed {
    display:inline-block;
    margin: 0.75rem;
}

.feeds .thumb,
.articles .thumb {
    transition: all .15s linear;
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.feeds .thumb {
    box-shadow: 0px 0px 0px 0rem var(--gray);
}

.feeds .thumb:hover {
    transition: all .15s linear;
    /* margin: 4px 4px;
    width: 88px;
    height: 88px; */
    z-index:5;
    box-shadow: 0px 0px 0px 1rem var(--gray);
}

.feeds .thumb:hover ~ .bubble-tag {
    opacity: 0;
}

.add-feed .thumb::before {
    transition: all .15s linear;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    z-index: 100;
    content:"+";
    color:#fff;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 88px;
    font-size:96px;
}


.add-feed.subscribed .thumb::before {
    content:"";
}
.add-feed.subscribed .thumb:hover::before {
    background-color: var(--danger);
    content:"-" !important;
}

.add-feed .thumb:hover::before {
    opacity: 1;
}

.feed .thumb::after {
    border: 2px solid var(--light);
    outline: 1px solid var(--light);
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.thumb img {
    min-height: 100%;
    min-width: 100%;
    /* Fails when image is vertical. But good enough for now. */
    height: 100%;
}


.articles.container-fluid {
    padding-top: 2rem;
    padding-bottom: calc(100px + 2rem);
}

.articles .entity {
    display: inline-block;
}

.articles .thumb {
    width: 200px;
    height: 200px;
    background-color: var(--white);
}

.articles .thumb .img {
    min-width: 200px;
    min-height: 200px;
}

.articles .entity .title {
    display: none;
}

.thumbs {
    text-align: center;
    width: 84.5rem;
}

.thumbs li {
    list-style: none; 
}

.thumbs .zigzag {
    margin-bottom: 2rem;
    position: relative;
}

.thumbs .zigzag:nth-child(2n+2) {
    top: calc(100px + 1rem);
}

.articles .title {
    border-radius: 50%;
    white-space: normal;
    overflow: hidden;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity:0;
    transition: 0.5s all;
    background-color:var(--info);
    color:var(--white);
    padding: 0.75rem;
}

.articles .no-asset.entity .title {
    opacity: 1;
}

.articles .entity:hover .title {
    opacity: 1;
}
