{% extends 'base.html.j2' %}

{% block title %}{{ _("%(kilpailu)s rastit", kilpailu=kilpailu.nimi|e) }}{% endblock %}

{% block content %}
{# Varoitus: Tämä on aika hirmuinen baabelin torni. #}
<div>
<h3>{{ self.title() }}</h3>

<dl>
    {% for rasti in rastit|sort(attribute='koodi') %}
    <dt><a class="Rasti" href="{{ url_for('sivu_muokkaa', avain=rasti.key.urlsafe(), return=request.base_url) }}">{{rasti['koodi']|e}}</a></dt>
    <dd class="latitude">{{ _("Lat: %(lat)f", lat=rasti['lat']|float) }}</dd>
    <dd class="longitude">{{ _("Lon: %(lon)f", lon=rasti['lon']|float) }}</dd>
    {% endfor %}
</dl>
<form action="{{ url_for('sivu_luo', tyyppi='Rasti', return=request.base_url) }}" method="get">
    <input type="submit" value="{{ '☑️ ' ~ _('Lisää uusi rasti kilpailuun %(kilpailu)s', kilpailu=kilpailu.nimi|e) }}" />
    <input type="hidden" name="kilpailu" value="{{ kilpailu.key.urlsafe() }}" />
</form>
</div>
{% endblock %}